.wui-circularmenu-item {
    border-radius: 50%;

    background-color: #181818;

    box-shadow: 0 0 4px 1px #404040;

    position: absolute;

    visibility: hidden;

    opacity: 0;

    background-repeat: no-repeat;
    background-position: center;

    z-index: 16777271;

    -webkit-transition: visibility 0s ease 500ms, opacity 500ms ease;

    transition: visibility 0s ease 500ms, opacity 500ms ease;
}

.wui-circularmenu-item:hover {
    box-shadow: 0 0 6px 1px #505050;

    background-color: #282828;

    cursor: pointer;
}

.wui-circularmenu-show {
    visibility: visible;

    opacity: 1;

    -webkit-transition-delay: 0s;

    transition-delay: 0s;
}

.wui-circularmenu-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
