.wui-form {
    padding: 8px;
}

.wui-form fieldset {
    border: ridge 1px #dddddd;
    background-color: #222222;
}

.wui-form legend {
    padding-bottom: 4px;
}

.wui-form label {
    display: inline-block;
    text-align: right;
    font-size: 10pt;
}

.wui-form-main-group {
    margin-bottom: 12px;
}

.wui-form-sub-group {
    margin: 14px;
}
