.wui-toolbar {
    width: auto;
    height: auto;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;

    -webkit-flex-wrap: wrap;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-box-align: center;

    -webkit-align-items: center;

    -ms-flex-align: center;

    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;

    color: white;

    padding-top: 2px;

    font-size: 8pt;
    letter-spacing: 0.1pc;

    text-shadow: 1px 1px 1px #000000;

    font-family: monospace;

    z-index: 9;

    pointer-events: all;
}

.wui-toolbar-vertical {
    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -webkit-flex-direction: column;

    -ms-flex-direction: column;

    flex-direction: column;

    margin: 0 auto;
}

.wui-toolbar-group {
    padding-top: 2px;
    padding-bottom: 2px;

    border-radius: 2px;
}

.wui-toolbar-group-vertical {
    margin-right: 2px;
    margin-left: 2px;
    position: relative;
}

.wui-toolbar-spacer {
    width: 0px;
    height: 26px;

    margin-left: 4px;
    margin-right: 4px;
    margin-top: 3px;
}

.wui-toolbar-spacer-vertical {
    height: 0px;
    width: 26px;

    margin-left: 2px;

    margin-top: 4px;
    margin-bottom: 4px;
}

.wui-toolbar-text {
    padding-left: 4px;
    padding-right: 4px;

    text-align: center;
}

.wui-toolbar-item {
    width: auto;
    height: auto;

    min-height: 32px;
    min-width: 32px;

    display: inline-block;

    margin: auto;

    background-color: #282828;

    border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center;

    pointer-events: all;
}

.wui-toolbar-item-vertical {
    display: block !important;

    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 8px;
    margin-bottom: 8px;
}

.wui-toolbar-item:hover, .wui-toolbar-minimize-group:hover, .wui-toolbar-minimize-group-vertical:hover {
    box-shadow: 0px 0px 1px 0px #aaaaaa;

    background-color: #505050;

    cursor: pointer;

    -webkit-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
}

.wui-toolbar-toggle-on {
    background-color: #403020 !important;
    box-shadow: 1px 1px 1px 0px #dddddd;
}

.wui-toolbar-toggle-on:hover {
    background-color: #504030 !important;
    box-shadow: 1px 1px 1px 0px #bbbbbb;
}

.wui-toolbar-minimize-icon {
    background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAElBMVEUAAAD///////////////////8+Uq06AAAABnRSTlMALurhUwsH8VogAAAAHklEQVQoz2MYcYBVEAoCoAIsRkpgoOyAIYCpZaQBAMpGBIVK8F/bAAAAAElFTkSuQmCC');
}

.wui-toolbar-maximize-icon {
    background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAAC3RSTlMAL+x9fCy5DH7X1jcYw7AAAABTSURBVCjPYxg4wC4IBQVQAdZFSmCgFQAVYFRzNrYwNjZJEoAJqEBoJ7iAMoQ2okRAA0I3YaigqgDC6QjPAYEL3HOskyDe14R5nz0QEj6iBQwDBgDgFg8YW4B1JQAAAABJRU5ErkJggg==');
}

.wui-toolbar-minimize-group {
    display: inline-block;

    background-color: #282828;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    margin-bottom: 4px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;

    pointer-events: all;
}

.wui-toolbar-minimize-group-vertical {
    display: inline-block;
    margin: auto;
    background-color: #282828;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;

    pointer-events: all;
}

.wui-toolbar-dropdown-content {
    visibility: hidden;

    opacity: 0;

    -webkit-transition: visibility 0s ease 250ms, opacity 250ms ease;
    transition: visibility 0s ease 250ms, opacity 250ms ease;

    position: absolute;

    width: auto;

    line-height: 26px;

    text-align: center;

    color: #eeeeee;

    text-shadow: 1px 1px #000000;

    font-size: 10pt;

    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1px;

    height: 26px;

    z-index: 99999;

    white-space: nowrap;
}

.wui-toolbar-dropdown-horizontal {
    display: inline-block;
}

.wui-toolbar-dropdown-item {
    border-radius: 4px;
    border: solid 1px #404040;

    background-color: rgba(16, 16, 16, 0.95);

    width: auto;

    background: -webkit-linear-gradient(rgba(26, 26, 26, 0.9), rgba(32,32,32,0.9), rgba(42,42,42,1.0))no-repeat border-box;

    background: linear-gradient(rgba(26, 26, 26, 0.9),rgba(32,32,32,0.9),rgba(42,42,42,1.0))no-repeat border-box;

    padding-left: 8px;
    padding-right: 8px;
}

.wui-toolbar-dropdown-item:hover {
    cursor: pointer;

    color: #ffffff !important;

    background-color: rgba(8, 8, 8, 1.0);

    font-size: 11pt !important;
}

.wui-toolbar-dropdown-item:hover:first-letter {
    color:burlywood;
}

.wui-toolbar-dropdown-open {
    visibility: visible;

    opacity: 1;

    -webkit-transition-delay: 0s;

    transition-delay: 0s;
}

.wui-toolbar-group-title {
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10px;
}

.wui-toolbar-group-title-vertical {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    left: -30%;
    font-size: 10px;
}

.wui-toolbar-group-title-vertical-s {
    left: 125%;
}
