.wui-hide-fi-500 {
    visibility: hidden;

    opacity: 0;
}

.wui-show-fi-500 {
    visibility: visible;

    opacity: 1;
}

.wui-display-none {
    display: none;
}

.wui-draggable {
    cursor: move;
}
