.wui-toolbar {
    width: auto;
    height: auto;
    
    display: -webkit-box;
    
    display: -webkit-flex;
    
    display: -ms-flexbox;
    
    display: flex;
    
    -webkit-flex-wrap: wrap;

    -ms-flex-wrap: wrap;
    
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    bottom: auto;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    color: white;

    padding-top: 2px;
    
    font-size: 8pt;
    letter-spacing: 0.1pc;
    
    text-shadow: 1px 1px 1px #000000;

    pointer-events: all;
    
    font-family: monospace;
    
    z-index: 9;
}

.wui-toolbar-vertical {
    -webkit-box-orient: vertical;
    
    -webkit-box-direction: normal;
    
    -webkit-flex-direction: column;
    
    -ms-flex-direction: column;
    
    flex-direction: column;
}

.wui-toolbar-group {
    padding-top: 2px;
    padding-bottom: 2px;

    border-radius: 2px;
    
    overflow: hidden;
}

.wui-toolbar-group-vertical {
    margin-right: 4px;
    margin-left: 4px;
}

.wui-toolbar-spacer {
    width: 0px;
    height: 26px;
    
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 3px;
}

.wui-toolbar-spacer-vertical {
    height: 0px;
    width: 26px;
    
    margin-left: 2px;

    margin-top: 4px;
    margin-bottom: 4px;
}

.wui-toolbar-text {
    padding-left: 4px;
    padding-right: 4px;
    
    text-align: center;
}

.wui-toolbar-item {
    width: auto;
    height: auto;
    
    min-height: 32px;
    min-width: 32px;
    
    display: inline-block;
    
    margin: auto;
    
    background-color: #282828;
    
    border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center;

    pointer-events: all;
}

.wui-toolbar-item-vertical {
    display: block !important;
    
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 3px;
    margin-bottom: 3px;
}

.wui-toolbar-item:hover {
    box-shadow: 0px 0px 1px 0px #aaaaaa;
}

.wui-toolbar-toggle {
    -webkit-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
}

.wui-toolbar-toggle:hover {
    background-color: #505050;
    
    cursor: pointer;
}

.wui-toolbar-toggle-on {
    background-color: #605040 !important;
}

.wui-toolbar-button {
    -webkit-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
}

.wui-toolbar-button:hover {
    background-color: #505050;
    
    cursor: pointer;
}

.wui-toolbar-minimize-icon {
    background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAElBMVEUAAAD///////////////////8+Uq06AAAABnRSTlMALurhUwsH8VogAAAAHklEQVQoz2MYcYBVEAoCoAIsRkpgoOyAIYCpZaQBAMpGBIVK8F/bAAAAAElFTkSuQmCC');
}

.wui-toolbar-maximize-icon {
    background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAAC3RSTlMAL+x9fCy5DH7X1jcYw7AAAABTSURBVCjPYxg4wC4IBQVQAdZFSmCgFQAVYFRzNrYwNjZJEoAJqEBoJ7iAMoQ2okRAA0I3YaigqgDC6QjPAYEL3HOskyDe14R5nz0QEj6iBQwDBgDgFg8YW4B1JQAAAABJRU5ErkJggg==');
}

.wui-toolbar-minimize-group {
    display: inline-block;

    background-color: #282828;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    pointer-events: all;
    margin-bottom: 7px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.wui-toolbar-minimize-group-vertical {
    display: inline-block;
    margin: auto;
    background-color: #282828;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    pointer-events: all;
}