.wui-dialog {
    visibility: hidden;

    opacity: 0;

    position: fixed;
    
    margin: auto;
    
    border-radius: 6px;
    
    z-index: 24;

    overflow: hidden;
    
    box-shadow: 0px 0px 4px 1px #080808;
}

.wui-dialog-transition {
    -webkit-transition: visibility 0s ease 500ms, opacity 500ms ease;

    transition: visibility 0s ease 500ms, opacity 500ms ease;
}

.wui-dialog-dim-transition {
    -webkit-transition: visibility 0s ease 500ms, width 500ms, height 500ms, opacity 500ms ease;

    transition: visibility 0s ease 500ms, width 500ms, height 500ms, opacity 500ms ease;
}

.wui-dialog-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(8,8,8, 0.6);
}

.wui-dialog-open {
    visibility: visible;

    opacity: 1;

    -webkit-transition-delay: 0s;

    transition-delay: 0s;
}

.wui-dialog-header {
    height: 32px;
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    background: rgba(0, 0, 0, 0.95);
    
    color: #ffffff;

    border-bottom: dotted 1px #404040;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wui-dialog-draggable > .wui-dialog-header {
    cursor: move;
}

.wui-dialog-header div:nth-child(2) {
    margin-left: 4px; 
}

.wui-dialog-header > div {
    margin-top: 8px;
    margin-bottom: 4px;
}

.wui-dialog-header > .wui-dialog-btn {
    margin-left: 2px; 
}

.wui-dialog-content {
    width: 100%;
    height: 100%;
    
    background: rgba(8, 8, 8, 0.95);
    
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.wui-dialog-content .wui-hidden {
    height: 0;
}

.wui-dialog-close {
    background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAJ1BMVEUAAAD///////////////////////////////////////////////+uPUo5AAAADHRSTlMAPc0BP9rMykYwCwqJsW4kAAAAe0lEQVQoz2MY1IC704CBgXnGBrgAR7gzAwNLagNcgLNG0YDZ7fgEuACz2yEHRh0VA4QhLDopbscEkExlFjoakwJSgFASc9QBxWKTmKMCKAJALYrIfEYdRadDwkhmih8SBooZIDkMqF4MyWEc4QJAbaUIp3NBPLeAYTADAI2SF72eqD+gAAAAAElFTkSuQmCC');
}

.wui-dialog-minimize {
    background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAElBMVEUAAAD///////////////////8+Uq06AAAABnRSTlMALurhUwsH8VogAAAAHklEQVQoz2MYcYBVEAoCoAIsRkpgoOyAIYCpZaQBAMpGBIVK8F/bAAAAAElFTkSuQmCC');
}

.wui-dialog-maximize {
    background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAAC3RSTlMAL+x9fCy5DH7X1jcYw7AAAABTSURBVCjPYxg4wC4IBQVQAdZFSmCgFQAVYFRzNrYwNjZJEoAJqEBoJ7iAMoQ2okRAA0I3YaigqgDC6QjPAYEL3HOskyDe14R5nz0QEj6iBQwDBgDgFg8YW4B1JQAAAABJRU5ErkJggg==');
}

.wui-dialog-resize {
    position: absolute;

    width: 24px;
    height: 24px;

    right: 0;
    bottom: 0;

    background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAA5q8AAOavAeavKoYAAAAHdElNRQffBRMCEQdryRGGAAAAmUlEQVQ4y83QzQkCMRRF4ROFWIUlTPrSNoSpQWxBbGNW7izAOnRzXPjDSEzIbNS3ujy+BN6FiRNakE8pzBt5YsOSY9PvYuegbg1O4IOd+Fc8GCqPMp7cuS4enfF6SwVeuuOHPG+pyvOWqjxvqYGP7/gCT2/nfc7RKIIY3Y/WpdzbG2UGBM4cWHGq5Nfci1oAl8emlCNwZfrcAAU/mdvMkZWyAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE1LTA1LTEyVDE2OjE3OjAwKzAyOjAwu835DAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNS0wNS0xMlQxNjoxNzowMCswMjowMMqQQbAAAAAASUVORK5CYII=);

    z-index: 1000;
}

.wui-dialog-resize:hover {
    cursor: se-resize;
}

.wui-dialog-minimized {
    height: 32px !important;
}

.wui-dialog-btn {
    width: 18px;
    height: 18px;
    
    display: inline-block;
    
    margin-left: 1px;
    margin-right: 3px;
    
    /*border-radius: 2px;
    */
    outline: 1px solid #404040;
    
    z-index: 1;
    
    background-size: 18px 18px;
    background-repeat: no-repeat;
    
    background-color: #000000;
}

.wui-dialog-btn:hover {
    background-color: #141414;
    
    outline: 1px solid #707070 !important;

    cursor: pointer;
}

.wui-dialog-title {
    font-size: 8pt;

    font-family: monospace;
    
    height: 18px;
    
    overflow: hidden;
    
    display: inline-block;
    
    text-shadow: 1px 1px 1px #000000;

    line-height: 18px;
    
    width: 100%;
    position: absolute;
    text-align: center;

    pointer-events: none;
}
