.wui-dialog {
    -webkit-transition: width 1s, height 1s, opacity 750ms ease;
    
    transition: width 1s, height 1s, opacity 750ms ease;
    
    pointer-events: none;
    
    position: fixed;
    
    margin: auto;
    
    border-radius: 6px;
    
    z-index: 24;

    overflow: hidden;
    
    box-shadow: 0px 0px 4px 1px #080808;
}

.wui-dialog-header {
    height: 32px;
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    background: rgba(0, 0, 0, 0.95);
    
    color: #ffffff;
    
    pointer-events: all;
    
    border-bottom: dotted 1px #404040;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wui-dialog-draggable > .wui-dialog-header {
    cursor: move;
}

.wui-dialog-header div:nth-child(2) {
    margin-left: 4px; 
}

.wui-dialog-header > div {
    margin-top: 8px;
    margin-bottom: 4px;
}

.wui-dialog-header > .wui-dialog-btn {
    margin-left: 2px; 
}

.wui-dialog-content {
    pointer-events: all;
    
    width: 100%;
    height: 100%;
    
    background: rgba(8, 8, 8, 0.95);
    
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.wui-dialog-content .wui-hidden {
    height: 0;
}

.wui-dialog-close {
    background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAJ1BMVEUAAAD///////////////////////////////////////////////+uPUo5AAAADHRSTlMAPc0BP9rMykYwCwqJsW4kAAAAe0lEQVQoz2MY1IC704CBgXnGBrgAR7gzAwNLagNcgLNG0YDZ7fgEuACz2yEHRh0VA4QhLDopbscEkExlFjoakwJSgFASc9QBxWKTmKMCKAJALYrIfEYdRadDwkhmih8SBooZIDkMqF4MyWEc4QJAbaUIp3NBPLeAYTADAI2SF72eqD+gAAAAAElFTkSuQmCC');
}

.wui-dialog-minimize {
    background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAElBMVEUAAAD///////////////////8+Uq06AAAABnRSTlMALurhUwsH8VogAAAAHklEQVQoz2MYcYBVEAoCoAIsRkpgoOyAIYCpZaQBAMpGBIVK8F/bAAAAAElFTkSuQmCC');
}

.wui-dialog-maximize {
    background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAAC3RSTlMAL+x9fCy5DH7X1jcYw7AAAABTSURBVCjPYxg4wC4IBQVQAdZFSmCgFQAVYFRzNrYwNjZJEoAJqEBoJ7iAMoQ2okRAA0I3YaigqgDC6QjPAYEL3HOskyDe14R5nz0QEj6iBQwDBgDgFg8YW4B1JQAAAABJRU5ErkJggg==');
}

.wui-dialog-minimized {
    height: 32px !important;
}

.wui-dialog-btn {
    width: 18px;
    height: 18px;
    
    display: inline-block;
    
    margin-left: 1px;
    margin-right: 3px;
    
    border-radius: 2px;
    
    outline: 1px solid #404040;
    
    z-index: 1;
    pointer-events: all;
    
    background-size: 18px 18px;
    background-repeat: no-repeat;
    
    background-color: #000000;
}

.wui-dialog-btn:hover {
    background-color: #141414;
    
    outline-color: #707070 !important;

    cursor: pointer;
}

.wui-dialog-title {
    font-size: 8pt;

    font-family: monospace;
    
    height: 18px;
    
    overflow: hidden;
    
    display: inline-block;
    
    text-shadow: 1px 1px 1px #000000;
    
    pointer-events: none;
    
    line-height: 18px;
    
    width: 100%;
    position: absolute;
    text-align: center;
}

.wui-dialog-transition-750 {
    visibility: hidden;

    opacity: 0;
}
